* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    height: 100vh; 
    background-color: #FDFCDC;
    direction: rtl;
    
  }
  .container-register-login{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;

  }
  
  
  .register-login {
    background-color: rgb(218, 231, 233);
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .view-list{
    margin-top: 5px;
    height: 92vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
   
  }

  .title{
    font-size: 50px;
  }
  .MuiTableContainer-root {
    max-height: 500px; 
    overflow-y: auto; /* גלילה אנכית בלבד */
    border: 4px solid  #f8e518; /* מסגרת מסביב לטבלה */
    border-radius: 5px;
    border-collapse: collapse; /* מבטל כפילויות גבולות */
  }
  
  .MuiTableHead-root th {
    position: sticky; /* הכותרות יישארו קבועות */
    top: 0; /* מיקום הכותרות */
    background-color:   #f8e518; 
    color: #000; /* צבע הטקסט */
    font-weight: bold; /* הדגשת הכותרות */
    text-align: center; /* יישור הטקסט */
    z-index: 1; /* להבטיח שהכותרות יופיעו מעל שאר התאים */
    border-right: 1px solid #A8D5BA; /* גבול בין כותרות */

    padding: 10px; /* ריווח פנימי */
  }
  
  .MuiTableBody-root {
    border-top: 10px solid #FDFCDC; /* רווח בין כותרות לתוכן */
  }
  
  .MuiTableBody-root tr {
    height: 50px; 
    transition: background-color 0.3s ease; /* אפקט חלק בשינוי צבע */
  }
  
  .MuiTableBody-root td {
    text-align: center; /* יישור טקסט במרכז */
    vertical-align: middle; /* יישור טקסט אנכי */
    padding: 10px; /* ריווח פנימי */
    border-right: 1px solid #A8D5BA; /* גבול בין תאים לאורך */
    border-bottom: 1px solid #A8D5BA; /* פסים חוצצים בין השורות */
  }
  
  .bought {
    background-color: #28A745;
    color: #fff;
    text-align: center;
  }
  
  .unbought {
    background-color: #FF6F61; 
    color: #fff; 
    text-align: center; 
  }


  .listItem:hover {
    background-color:  #f8e518; 
    color: white;  
  }
  .listItem:active {
    transform: scale(0.98); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transform: scale(1.2)
  }

  .members-list {
    min-height: 150px;
    max-height: 150px;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 8px;
    margin-bottom: 16px;
  }

  .group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .card-group{
    max-height: 350px;
    
    margin: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    }
    .all-card{
      min-width: 98%;
      min-height: 35vh;
      display: flex;
      max-height: 450px; 
      overflow-y: auto;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap; 
      justify-content: center;
      background-color: #f0faca;
      border: 4px solid  #f8e518;
      margin: 5px;
      
    }



    
  
  

  
  
  